@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');



body{
    width: 450px;
    border: 20px solid rgb(206, 205, 243);
    border-radius: 60px;
    padding: 15px 35px;
    margin : 25px auto
    





}


img{
    width: 120px;    
    border-radius: 25px;
    align-self: center;



}




h1 , h2{
    font-family: "Quicksand", sans-serif;
    text-align: left;


}







ul{
    font-family: "Quicksand", sans-serif;
     text-align: left;

}


ol{
    font-family: "Quicksand", sans-serif;
     text-align: left;


}
